mixin menu-inner( current_page, current_city )
  .menu-inner(data-city=current_city)
    .menu-inner__wrapper
      .menu-inner__button-close
      ul.menu-inner__list
        include ../links-button/links-button.pug
      .menu-inner__download
        .menu-inner__download-button
          a(href="#").link_button
            .menu-inner__download-button-img
            .menu-inner__download-button-text(data-trnslt="14") Скачать «Услуги FWR»
        p.menu-inner__footer(data-trnslt="15")
          |&copy;&nbsp;2009-2017&nbsp;АО &laquo;Райффайзенбанк&raquo; <br>
          a(href="https://www.raiffeisen.ru" target="_blank").menu-inner__footer-link
            |www.raiffeisen.ru
  block
