.links-button
  .button.button_dark
    a(href="https://online.raiffeisen.ru/" data-trnslt="12").button__text Raiffeisen-Online
  .button.button_small
    a(href="r-dealer.html" data-trnslt="13").button__text R-Dealer
